# Dependencies
node_modules

# package-lock.json
package-lock.json

# bun.lockb
bun.lockb

# Environment variables
.env

# Prettier
.prettierrc

# ESLint
eslint.config.js
eslint.config.mjs

# Production
build