# DataBase
DB_NAME = home_server
DB_USER = foo
DB_PASSWORD = 1234

# Files path
EXCLUDED_DIRENTS = $RECYCLE.BIN, System Volume Information, .thumbnails

# Server
IP = 192.168.0.1
PORT = 3000
API_KEY = 1234

# JWT
JWT_SECRET = 1234